-
	menu = [
		{	
			"title": "Доставка",
			"link": "delivery.html",
		},
		{	
			"title": "О компании",
			"link": "about.html",
		},
		{	
			"title": "Контакты",
			"link": "conacts.html",
		},
		{	
			"title": "Схема проезда",
			"link": "scheme.html",
		},
	],
	homeCategories = [
		{
			"title": "Защита рук",
			"image": "1",
		},
		{
			"title": "Обтирочные материалы",
			"image": "2",
		},
		{
			"title": "Средства индивидуальной защиты",
			"image": "3",
		},
		{
			"title": "Хозяйственная группа",
			"image": "4",
		},
	],
	popular = [
		{
			"img": "1",
			"title": "Перчатки обливные “Defender”",
			"descr": "Обеспечивают надёжную защиту от порезов, загрязнений и прочих механических воздействий",
			"list": [
				"Защита",
				"Комфорт в работе",
				"Долговечность"
			]
		},
		{
			"img": "2",
			"title": "Перчатки обливные “Defender”",
			"descr": "Обеспечивают надёжную защиту от порезов, загрязнений и прочих механических воздействий",
			"list": [
				"Защита",
				"Комфорт в работе",
				"Долговечность"
			]
		},
		{
			"img": "3",
			"title": "Перчатки обливные “Defender”",
			"descr": "Обеспечивают надёжную защиту от порезов, загрязнений и прочих механических воздействий",
			"list": [
				"Защита",
				"Комфорт в работе",
				"Долговечность"
			]
		},
		{
			"img": "4",
			"title": "Перчатки обливные “Defender”",
			"descr": "Обеспечивают надёжную защиту от порезов, загрязнений и прочих механических воздействий",
			"list": [
				"Защита",
				"Комфорт в работе",
				"Долговечность"
			]
		},
		{
			"img": "5",
			"title": "Перчатки обливные “Defender”",
			"descr": "Обеспечивают надёжную защиту от порезов, загрязнений и прочих механических воздействий",
			"list": [
				"Защита",
				"Комфорт в работе",
				"Долговечность"
			]
		},
		{
			"img": "6",
			"title": "Перчатки обливные “Defender”",
			"descr": "Обеспечивают надёжную защиту от порезов, загрязнений и прочих механических воздействий",
			"list": [
				"Защита",
				"Комфорт в работе",
				"Долговечность"
			]
		},
		{
			"img": "7",
			"title": "Перчатки обливные “Defender”",
			"descr": "Обеспечивают надёжную защиту от порезов, загрязнений и прочих механических воздействий",
			"list": [
				"Защита",
				"Комфорт в работе",
				"Долговечность"
			]
		},
	],
	about = [
		{
			"title": "Собственное производство",
			"descr": "Современное производство и технологичное оборудование"
		},
		{
			"title": "Качество",
			"descr": "Высокий уровень качества используемых материалов позволяет на производить продукцию самого высокого качества"
		},
		{
			"title": "Индивидуальный подход",
			"descr": "Учитываем ваши пожелания и стараемся предоставить продукцию, соответствующую именно вашим потребностям"
		},
		{
			"title": "Доставка",
			"descr": "Собственный автопарк позволяет оперативно организовывать доставку любого объема продукции до места назначения. Возможна доставка транспортными компаниями"
		},
	],
	menuFooter = {
		"column_1": [
			{
				"title": "Защита рук",
				"link": "#"
			},
			{
				"title": "Обтирочные материалы",
				"link": "#"
			},
			{
				"title": "Средства индивидуальной защиты",
				"link": "#"
			},
			{
				"title": "Хозяйственная группа",
				"link": "#"
			},
		],
		"column_2": [
			{
				"title": "О компании",
				"link": "#"
			},
			{
				"title": "Доставка",
				"link": "#"
			},
			{
				"title": "Доставка и оплата",
				"link": "#"
			},
			{
				"title": "Схема проезда",
				"link": "#"
			},
		],
	},
	category = {
		"gloves": [
			{
				"title": "Перчатки хлопчатобумажные",
				"image": "1",
			},
			{
				"title": "Перчатки специального назначения",
				"image": "2",
			},
			{
				"title": "Рукавицы",
				"image": "3",
			},
		],
		"wiping": [
			{
				"title": "Ветошь",
				"image": "1",
			},
			{
				"title": "Технические ткани",
				"image": "2",
			},
			{
				"title": "Полотно вафельное",
				"image": "3",
			},
			{
				"title": "Полотно холстопрошивное",
				"image": "4",
			},
			{
				"title": "Салфетки",
				"image": "5",
			},
		],
		"individual": [
			{
				"title": "Защитные комбинезоны",
				"image": "1",
			},
			{
				"title": "Фартуки, нарукавники защитные",
				"image": "2",
			},
			{
				"title": "Защита органов дыхания",
				"image": "3",
			},
			{
				"title": "Защита органов зрения",
				"image": "4",
			},
			{
				"title": "Защита органов слуха",
				"image": "5",
			},
		],
		"packages": [
			{
				"title": "Бытовая химия",
				"image": "1",
			},
			{
				"title": "Хозинвентарь",
				"image": "2",
			},
			{
				"title": "Упаковочные материалы",
				"image": "3",
			},
		],
	},
	textBlock = {
		"descr": [
			"Рынок рабочей спецодежды всегда был для нас одним из приоритетных направлений деятельности, а рабочие перчатки — один из самых ходовых и необходимых товаров на этом рынке. За 15 лет сотрудничества с крупнейшими предприятиями Тульской области мы получили множество отзывов и пожеланий к качеству перчатки от представителей самых разных рабочих специальностей. И сегодня мы используем этот опыт в производстве собственной продукции. Наша фабрика ориентируется прежде всего на удобство и комфорт работы конечного потребителя перчаток.",
			"Мы создаём продукцию разной плотности, состава пряжи и нанесения, чтобы предложить подходящий вариант для каждого вида рабочей деятельности. При этом для каждого вида выпускаемой продукции мы придерживаемся высоких стандартов качества, сохраняя цены производителя, без дополнительных торговых наценок."
		]
	},
	products = [
		{
			"img": "1",
			"article": "ОБ-33",
			"title": "Перчатки защитные одинарный облив",
			"list": [
				"Защита",
				"Комфорт в работе",
				"Долговечны и воздухопроницаемы",
				"Надежная защита от загрязнений, п...",
			],
			"price": "35 руб.",
		},
		{
			"img": "2",
			"article": "ОБ-12",
			"title": "Перчатки обливные “Defender”",
			"list": [
				"Защита",
				"Комфорт в работе",
			],
			"price": "от 2 160 руб.",
			"priceLabel": "/ партия (50 шт.)",
		},
		{
			"img": "3",
			"article": "ХБ-647",
			"title": "Рабочие х/б перчатки с ПВХ покрытием «Точка»",
			"list": [
				"Защита",
				"Комфорт в работе",
				"Долговечны и воздухопроницаемы",
				"Отличный хват",
			],
			"price": "от 1 990 руб.",
			"priceLabel": "/ партия (100 шт.)",
		},
		{
			"img": "4",
			"article": "ОБ-12",
			"title": "Перчатки обливные “Defender”",
			"list": [
				"Защита",
				"Комфорт в работе",
			],
			"price": "от 2 160 руб.",
			"priceLabel": "/ партия (50 шт.)",
		},
		{
			"img": "5",
			"article": "ХБ-647",
			"title": "Рабочие х/б перчатки с ПВХ покрытием «Точка»",
			"list": [
				"Защита",
				"Комфорт в работе",
				"Долговечны и воздухопроницаемы",
				"Отличный хват"
			],
			"price": "от 1 990 руб.",
			"priceLabel": "/ партия (100 шт.)",
		},
		{
			"img": "6",
			"article": "ОБ-33",
			"title": "Перчатки защитные одинарный облив",
			"list": [
				"Защита",
				"Комфорт в работе",
				"Долговечны и воздухопроницаемы",
				"Надежная защита от загрязнений, п..."
			],
			"price": "35 руб.",
			"priceLabel": "/ шт.",
		},
		{
			"img": "7",
			"article": "ОБ-33",
			"title": "Перчатки защитные одинарный облив",
			"list": [
				"Защита",
				"Комфорт в работе",
				"Долговечны и воздухопроницаемы",
				"Надежная защита от загрязнений, п..."
			],
			"price": "35 руб.",
			"priceLabel": "/ шт.",
		},
		{
			"img": "8",
			"article": "ОБ-12",
			"title": "Перчатки обливные “Defender”",
			"list": [
				"Защита",
				"Комфорт в работе",
			],
			"price": "от 2 160 руб.",
			"priceLabel": "/ партия (50 шт.)",
		},
		{
			"img": "9",
			"article": "ХБ-647",
			"title": "Рабочие х/б перчатки с ПВХ покрытием «Точка»",
			"list": [
				"Защита",
				"Комфорт в работе",
				"Долговечны и воздухопроницаемы",
				"Отличный хват",
			],
			"price": "от 1 990 руб.",
			"priceLabel": "/ партия (100 шт.)",
		},
		{
			"img": "10",
			"article": "ОБ-12",
			"title": "Перчатки обливные “Defender”",
			"list": [
				"Защита",
				"Комфорт в работе",
			],
			"price": "от 2 160 руб.",
			"priceLabel": "/ партия (50 шт.)",
		},
		{
			"img": "11",
			"article": "ХБ-647",
			"title": "Рабочие х/б перчатки с ПВХ покрытием «Точка»",
			"list": [
				"Защита",
				"Комфорт в работе",
				"Долговечны и воздухопроницаемы",
				"Отличный хват"
			],
			"price": "от 1 990 руб.",
			"priceLabel": "/ партия (100 шт.)",
		},
		{
			"img": "12",
			"article": "ОБ-33",
			"title": "Перчатки защитные одинарный облив",
			"list": [
				"Защита",
				"Комфорт в работе",
				"Долговечны и воздухопроницаемы",
				"Надежная защита от загрязнений, п...",
			],
			"price": "35 руб.",
			"priceLabel": "/ шт.",
		},
		{
			"img": "13",
			"article": "ОБ-33",
			"title": "Перчатки защитные одинарный облив",
			"list": [
				"Защита",
				"Комфорт в работе",
				"Долговечны и воздухопроницаемы",
				"Надежная защита от загрязнений, п...",
			],
			"price": "35 руб.",
			"priceLabel": "/ шт.",
		},
		{
			"img": "14",
			"article": "ОБ-12",
			"title": "Перчатки обливные “Defender”",
			"list": [
				"Защита",
				"Комфорт в работе",
			],
			"price": "от 2 160 руб.",
			"priceLabel": "/ партия (50 шт.)",
		},
		{
			"img": "15",
			"article": "ХБ-647",
			"title": "Рабочие х/б перчатки с ПВХ покрытием «Точка»",
			"list": [
				"Защита",
				"Комфорт в работе",
				"Долговечны и воздухопроницаемы",
				"Отличный хват",
			],
			"price": "от 1 990 руб.",
			"priceLabel": "/ партия (100 шт.)",
		},
	],
	card = {
		"slider": [
			{
				"img": "1"
			},
			{
				"img": "2"
			},
			{
				"img": "3"
			},
			{
				"img": "4"
			},
			{
				"img": "1"
			},
			{
				"img": "2"
			},
			{
				"img": "3"
			},
			{
				"img": "4"
			},
		],
		"content": [
			"Эффективная и универсальная модель с повышенной износостойкостью и нефтемаслостойкими свойствами, благодаря покрытию из вспененного нитрила. Для тех, кто привык к одинарному/двойному обливу. Всего одна пара способна заменить до 5 пар перчаток с двойным покрытием из натурального латекса. Будущее сегмента доступных и эффективных решений.",
			"Эффективная и универсальная модель с повышенной износостойкостью и нефтемаслостойкими свойствами, благодаря покрытию из вспененного нитрила. Для тех, кто привык к одинарному/двойному обливу. Всего одна пара способна заменить до 5 пар перчаток с двойным покрытием из натурального латекса. Будущее сегмента доступных и эффективных решений.",
			"Эффективная и универсальная модель с повышенной износостойкостью и нефтемаслостойкими свойствами, благодаря покрытию из вспененного нитрила. Для тех, кто привык к одинарному/двойному обливу. Всего одна пара способна заменить до 5 пар перчаток с двойным покрытием из натурального латекса. Будущее сегмента доступных и эффективных решений.",
			"Эффективная и универсальная модель с повышенной износостойкостью и нефтемаслостойкими свойствами, благодаря покрытию из вспененного нитрила. Для тех, кто привык к одинарному/двойному обливу. Всего одна пара способна заменить до 5 пар перчаток с двойным покрытием из натурального латекса. Будущее сегмента доступных и эффективных решений.",
		],
		"list": [
			"Эффективная и универсальная модель с повышенной износостойкостью и нефтемаслостойкими свойствами, благодаря покрытию из вспененного нитрила. Для тех, кто привык к одинарному/двойному обливу. Всего одна пара способна заменить до 5 пар перчаток с двойным покрытием из натурального латекса. Будущее сегмента доступных и эффективных решений.",
			"Эффективная и универсальная модель с повышенной износостойкостью и нефтемаслостойкими свойствами, благодаря покрытию из вспененного нитрила. Для тех, кто привык к одинарному/двойному обливу. Всего одна пара способна заменить до 5 пар перчаток с двойным покрытием из натурального латекса. Будущее сегмента доступных и эффективных решений.",
		],
		"table": [
			{
				"title": "Размеры",
				"value": "7, 8",
				"value": "7, 8",
			},
			{
				"title": "Основа / Покрытие",
				"value": "Хлопок / Нитрил",
				"value": "Хлопок / Нитрил",
			},
			{
				"title": "Размеры",
				"value": "7, 8",
				"value": "7, 8",
			},
			{
				"title": "Основа / Покрытие",
				"value": "Хлопок / Нитрил",
				"value": "Хлопок / Нитрил",
			},
		],
		"certificates": [
			{
				"title": "Сертификат соответствия качества продукции"
			},
			{
				"title": "Сертификат соответствия"
			},
			{
				"title": "Сертификат соответствия качества продукции на пер..."
			},
			{
				"title": "Сертификат соответствия"
			},
			{
				"title": "Сертификат соответствия качества продукции на пер..."
			},
			{
				"title": "Сертификат соответствия качества продукции"
			},
		]
	},
	searchList = [
		"Перчатки рабочие",
		"Перчатки обливные",
		"Перчатки защитные одинарный облив перчатки защитные одинарный облив",
		"Перчатки хозяйственные",
	];