-
	menu = [
		{	
			"title": "Доставка",
			"link": "delivery.html",
		},
		{	
			"title": "О компании",
			"link": "about.html",
		},
		{	
			"title": "Контакты",
			"link": "contacts.html",
		},
		{	
			"title": "Схема проезда",
			"link": "scheme.html",
		},
	],
	homeCategories = [
		{
			"title": "Защита рук",
			"image": "1",
		},
		{
			"title": "Обтирочные материалы",
			"image": "2",
		},
		{
			"title": "Средства индивидуальной защиты",
			"image": "3",
		},
		{
			"title": "Хозяйственная группа",
			"image": "4",
		},
	],
	popular = [
		{
			"img": "1",
			"title": "Перчатки защитные одинарный облив",
			//- "descr": "Обеспечивают надёжную защиту от порезов, загрязнений и прочих механических воздействий",
			"list": [
				"Комфортны в работе",
				"Долговечны и воздухопроницаемы",
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, и..."
			],
			"price": "35 руб.",
			"priceLabel": "/ шт.",
			"article": "ОБ-33",
		},
		{
			"img": "2",
			"title": "Перчатки обливные “Defender”",
			//- "descr": "Обеспечивают надёжную защиту от порезов, загрязнений и прочих механических воздействий",
			"list": [
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, истирания ткани",
			],
			"price": "от 2 160 руб.",
			"priceLabel": "/ партия (50 шт.)",
			"article": "ОБ-12",
		},
		{
			"img": "3",
			"title": "Рабочие х/б перчатки с ПВХ покрытием «Точка»",
			//- "descr": "Обеспечивают надёжную защиту от порезов, загрязнений и прочих механических воздействий",
			"list": [
				"Комфортны в работе",
				"Долговечны и воздухопроницаемы",
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, и..."
			],
			"price": "от 1990 руб.",
			"priceLabel": "/ партия (100 шт.)",
			"article": "ХБ-647",
		},
		{
			"img": "4",
			"title": "Перчатки рабочие трикотажные нейлоновые без покрытия",
			//- "descr": "Обеспечивают надёжную защиту от порезов, загрязнений и прочих механических воздействий",
			"list": [
				"Комфортны в работе",
				"Защита от механических воздействий",
			],
			"price": "от 2 160 руб.",
			"priceLabel": "/ партия (50 шт.)",
			"article": "Н-036",
		},
		{
			"img": "5",
			"title": "Перчатки защитные одинарный облив",
			//- "descr": "Обеспечивают надёжную защиту от порезов, загрязнений и прочих механических воздействий",
			"list": [
				"Комфортны в работе",
				"Долговечны и воздухопроницаемы",
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, и..."
			],
			"price": "35 руб.",
			"priceLabel": "/ шт.",
			"article": "ОБ-33",
		},
		{
			"img": "6",
			"title": "Перчатки обливные “Defender”",
			//- "descr": "Обеспечивают надёжную защиту от порезов, загрязнений и прочих механических воздействий",
			"list": [
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, истирания ткани",
			],
			"price": "от 2 160 руб.",
			"priceLabel": "/ партия (50 шт.)",
			"article": "ОБ-12",
		},
		{
			"img": "7",
			"title": "Перчатки обливные “Defender”",
			//- "descr": "Обеспечивают надёжную защиту от порезов, загрязнений и прочих механических воздействий",
			"list": [
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, истирания ткани",
			],
			"price": "от 2 160 руб.",
			"priceLabel": "/ партия (50 шт.)",
			"article": "ОБ-12",
		},
	],
	aboutBlock = [
		{
			"img": "1",
			"title": "Собственное производство",
			"descr": "Современное производство и технологичное оборудование"
		},
		{
			"img": "2",
			"title": "Качество",
			"descr": "Высокий уровень качества используемых материалов позволяет на производить продукцию самого высокого качества"
		},
		{
			"img": "3",
			"title": "Индивидуальный подход",
			"descr": "Учитываем ваши пожелания и стараемся предоставить продукцию, соответствующую именно вашим потребностям"
		},
		{
			"img": "4",
			"title": "Доставка",
			"descr": "Собственный автопарк позволяет оперативно организовывать доставку любого объема продукции до места назначения. Возможна доставка транспортными компаниями"
		},
	],
	menuFooter = {
		"column_1": [
			{
				"title": "Защита рук",
				"link": "catalog.html"
			},
			{
				"title": "Обтирочные материалы",
				"link": "catalog.html"
			},
			{
				"title": "Средства индивидуальной защиты",
				"link": "catalog.html"
			},
			{
				"title": "Хозяйственная группа",
				"link": "catalog.html"
			},
		],
		"column_2": [
			{
				"title": "О компании",
				"link": "about.html"
			},
			{
				"title": "Доставка",
				"link": "#"
			},
			{
				"title": "Доставка и оплата",
				"link": "#"
			},
			{
				"title": "Схема проезда",
				"link": "contacts.html"
			},
		],
	},
	category = {
		"gloves": [
			{
				"title": "Перчатки хлопчатобумажные",
				"image": "1",
			},
			{
				"title": "Перчатки специального назначения",
				"image": "2",
			},
			{
				"title": "Рукавицы",
				"image": "3",
			},
		],
		"wiping": [
			{
				"title": "Ветошь",
				"image": "1",
			},
			{
				"title": "Технические ткани",
				"image": "2",
			},
			{
				"title": "Полотно вафельное",
				"image": "3",
			},
			{
				"title": "Полотно холстопрошивное",
				"image": "4",
			},
			{
				"title": "Салфетки",
				"image": "5",
			},
		],
		"individual": [
			{
				"title": "Защитные комбинезоны",
				"image": "1",
			},
			{
				"title": "Фартуки, нарукавники защитные",
				"image": "2",
			},
			{
				"title": "Защита органов дыхания",
				"image": "3",
			},
			{
				"title": "Защита органов зрения",
				"image": "4",
			},
			{
				"title": "Защита органов слуха",
				"image": "5",
			},
		],
		"packages": [
			{
				"title": "Бытовая химия",
				"image": "1",
			},
			{
				"title": "Хозинвентарь",
				"image": "2",
			},
			{
				"title": "Упаковочные материалы",
				"image": "3",
			},
		],
	},
	textBlock = {
		"descr": [
			"Рынок рабочей спецодежды всегда был для нас одним из приоритетных направлений деятельности, а рабочие перчатки — один из самых ходовых и необходимых товаров на этом рынке. За 15 лет сотрудничества с крупнейшими предприятиями Тульской области мы получили множество отзывов и пожеланий к качеству перчатки от представителей самых разных рабочих специальностей. И сегодня мы используем этот опыт в производстве собственной продукции. Наша фабрика ориентируется прежде всего на удобство и комфорт работы конечного потребителя перчаток.",
			"Мы создаём продукцию разной плотности, состава пряжи и нанесения, чтобы предложить подходящий вариант для каждого вида рабочей деятельности. При этом для каждого вида выпускаемой продукции мы придерживаемся высоких стандартов качества, сохраняя цены производителя, без дополнительных торговых наценок."
		]
	},
	products = [
		{
			"img": "1",
			"article": "ОБ-33",
			"title": "Перчатки защитные одинарный облив",
			"list": [
				"Комфортны в работе",
				"Долговечны и воздухопроницаемы",
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, и...",
			],
			"price": "35 руб.",
			"priceLabel": "/ шт.",
		},
		{
			"img": "2",
			"article": "ОБ-12",
			"title": "Перчатки обливные “Defender”",
			"list": [
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, истирания ткани",
			],
			"price": "от 2 160 руб.",
			"priceLabel": "/ партия (50 шт.)",
		},
		{
			"img": "3",
			"article": "ХБ-647",
			"title": "Перчатки обливные “Defender”",
			"list": [
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, истирания ткани",
			],
			"price": "от 1 990 руб.",
			"priceLabel": "/ партия (100 шт.)",
		},
		{
			"img": "4",
			"article": "ОБ-33",
			"title": "Перчатки защитные одинарный облив",
			"list": [
				"Комфортны в работе",
				"Долговечны и воздухопроницаемы",
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, и...",
			],
			"price": "35 руб.",
			"priceLabel": "шт.",
		},
		{
			"img": "5",
			"article": "ОБ-12",
			"title": "Перчатки обливные “Defender”",
			"list": [
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, истирания ткани",
			],
			"price": "от 2 160 руб.",
			"priceLabel": "/ партия (50 шт.)",
		},
		{
			"img": "6",
			"article": "ХБ-647",
			"title": "Рабочие х/б перчатки с ПВХ покрытием «Точка»",
			"list": [
				"Комфортны в работе",
				"Долговечны и воздухопроницаемы",
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, и...",
			],
			"price": "от 1990 руб.",
			"priceLabel": "/ партия (100 шт.)",
		},
		{
			"img": "7",
			"article": "Н-036",
			"title": "Перчатки рабочие трикотажные нейлоновые без покрытия",
			"list": [
				"Комфортны в работе",
				"Защита от механических воздействий",
			],
			"price": "от 2 160 руб.",
			"priceLabel": "/ партия (50 шт.)",
		},
		{
			"img": "8",
			"article": "ОБ-33",
			"title": "Перчатки защитные одинарный облив",
			"list": [
				"Комфортны в работе",
				"Долговечны и воздухопроницаемы",
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, и...",
			],
			"price": "35 руб.",
			"priceLabel": "шт.",
		},
		{
			"img": "9",
			"article": "ОБ-12",
			"title": "Перчатки обливные “Defender”",
			"list": [
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, истирания ткани",
			],
			"price": "от 2 160 руб.",
			"priceLabel": "/ партия (50 шт.)",
		},
		{
			"img": "10",
			"article": "ОБ-33",
			"title": "Перчатки защитные одинарный облив",
			"list": [
				"Комфортны в работе",
				"Долговечны и воздухопроницаемы",
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, и...",
			],
			"price": "35 руб.",
			"priceLabel": "шт.",
		},
		{
			"img": "11",
			"article": "ОБ-12",
			"title": "Перчатки обливные “Defender”",
			"list": [
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, истирания ткани",
			],
			"price": "от 2 160 руб.",
			"priceLabel": "/ партия (50 шт.)",
		},
		{
			"img": "12",
			"article": "ХБ-647",
			"title": "Рабочие х/б перчатки с ПВХ покрытием «Точка»",
			"list": [
				"Комфортны в работе",
				"Долговечны и воздухопроницаемы",
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, и...",
			],
			"price": "от 1990 руб.",
			"priceLabel": "/ партия (100 шт.)",
		},
		{
			"img": "13",
			"article": "ОБ-33",
			"title": "Перчатки защитные одинарный облив",
			"list": [
				"Комфортны в работе",
				"Долговечны и воздухопроницаемы",
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, и...",
			],
			"price": "35 руб.",
			"priceLabel": "/ шт.",
		},
		{
			"img": "14",
			"article": "ОБ-12",
			"title": "Перчатки обливные “Defender”",
			"list": [
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, истирания ткани",
			],
			"price": "от 2 160 руб.",
			"priceLabel": "/ партия (50 шт.)",
		},
		{
			"img": "15",
			"article": "ОБ-12",
			"title": "Перчатки обливные “Defender”",
			"list": [
				"Защита от механических воздействий",
				"Надёжная защита от загрязнений, истирания ткани",
			],
			"price": "от 2 160 руб.",
			"priceLabel": "/ партия (100 шт.)",
		},
	],
	card = {
		"slider": [
			{
				"img": "1"
			},
			{
				"img": "2"
			},
			{
				"img": "3"
			},
			{
				"img": "1"
			},
			{
				"img": "2"
			},
			{
				"img": "3"
			},
		],
		"content": [
			"Эффективная и универсальная модель с повышенной износостойкостью и нефтемаслостойкими свойствами, благодаря покрытию из вспененного нитрила. Для тех, кто привык к одинарному/двойному обливу. Всего одна пара способна заменить до 5 пар перчаток с двойным покрытием из натурального латекса. Будущее сегмента доступных и эффективных решений.",
			"Эффективная и универсальная модель с повышенной износостойкостью и нефтемаслостойкими свойствами, благодаря покрытию из вспененного нитрила. Для тех, кто привык к одинарному/двойному обливу. Всего одна пара способна заменить до 5 пар перчаток с двойным покрытием из натурального латекса. Будущее сегмента доступных и эффективных решений.",
			"Эффективная и универсальная модель с повышенной износостойкостью и нефтемаслостойкими свойствами, благодаря покрытию из вспененного нитрила. Для тех, кто привык к одинарному/двойному обливу. Всего одна пара способна заменить до 5 пар перчаток с двойным покрытием из натурального латекса. Будущее сегмента доступных и эффективных решений.",
			"Эффективная и универсальная модель с повышенной износостойкостью и нефтемаслостойкими свойствами, благодаря покрытию из вспененного нитрила. Для тех, кто привык к одинарному/двойному обливу. Всего одна пара способна заменить до 5 пар перчаток с двойным покрытием из натурального латекса. Будущее сегмента доступных и эффективных решений.",
		],
		"list": [
			"Эффективная и универсальная модель с повышенной износостойкостью и нефтемаслостойкими свойствами, благодаря покрытию из вспененного нитрила. Для тех, кто привык к одинарному/двойному обливу. Всего одна пара способна заменить до 5 пар перчаток с двойным покрытием из натурального латекса. Будущее сегмента доступных и эффективных решений.",
			"Эффективная и универсальная модель с повышенной износостойкостью и нефтемаслостойкими свойствами, благодаря покрытию из вспененного нитрила. Для тех, кто привык к одинарному/двойному обливу. Всего одна пара способна заменить до 5 пар перчаток с двойным покрытием из натурального латекса. Будущее сегмента доступных и эффективных решений.",
		],
		"table": [
			{
				"title": "Размеры",
				"value": "7, 8",
				"value": "7, 8",
			},
			{
				"title": "Основа / Покрытие",
				"value": "Хлопок / Нитрил",
				"value": "Хлопок / Нитрил",
			},
			{
				"title": "Размеры",
				"value": "7, 8",
				"value": "7, 8",
			},
			{
				"title": "Основа / Покрытие",
				"value": "Хлопок / Нитрил",
				"value": "Хлопок / Нитрил",
			},
		],
		"certificates": [
			{
				"title": "Сертификат соответствия качества продукции"
			},
			{
				"title": "Сертификат соответствия"
			},
			{
				"title": "Сертификат соответствия качества продукции на пер..."
			},
			{
				"title": "Сертификат соответствия"
			},
			{
				"title": "Сертификат соответствия качества продукции на пер..."
			},
			{
				"title": "Сертификат соответствия качества продукции"
			},
		]
	},
	searchList = [
		"Перчатки рабочие",
		"Перчатки обливные",
		"Перчатки защитные одинарный облив перчатки защитные одинарный облив",
		"Перчатки хозяйственные",
		"Перчатки рабочие",
		"Перчатки обливные",
		"Перчатки защитные одинарный облив перчатки защитные одинарный облив",
		"Перчатки хозяйственные",
	],
	about = {
		"descr": "Компания Мегатекс является крупнейшим производителем и оптовым поставщиком защитных перчаток, спецодежды, средств индивидуальной защиты и сопутствующих товаров.",
		"list": [
			"Мы можем обеспечить комплексное снабжение предприятий и производств перчатками х/б, обтирочными материалами, такими как ветошь, путанка, холстопрошивное полотно, техническая салфетка, а также средствами индивидуальной защиты и спецодеждой.",
			"На нашем производстве реализован полный цикл выпуска готовой продукции. Используется современное и технологичное оборудование.",
			"Для поддержания высокого уровня качества выпускаемой продукции, используются только качественные и проверенные материалы. Выпускаемая нами продукция проходит проверку качества и имеет все необходимые сертификаты.",
		],
		"slider": [
			{
				"img": "1"
			},
			{
				"img": "2"
			},
			{
				"img": "3"
			},
			{
				"img": "4"
			},
			//- {
			//- 	"img": "5"
			//- },
			//- {
			//- 	"img": "6"
			//- },
		],
	},
	textPage = {
		"textM": [
			"Текст М",
			"Рынок рабочей спецодежды всегда был для нас одним из приоритетных направлений деятельности, а рабочие перчатки — один из самых ходовых и необходимых товаров на этом рынке.",
			"Рынок рабочей спецодежды всегда был для нас одним из приоритетных направлений деятельности, а рабочие перчатки — один из самых ходовых и необходимых товаров на этом рынке.",
		],
		"textS": [
			"Текст S",
			"Рынок рабочей спецодежды всегда был для нас одним из приоритетных направлений деятельности, а рабочие перчатки — один из самых ходовых и необходимых товаров на этом рынке.",
			"Рынок рабочей спецодежды всегда был для нас одним из приоритетных направлений деятельности, а рабочие перчатки — один из самых ходовых и необходимых товаров на этом рынке.",
		],
		"textXS": [
			"Текст XS",
			"Рынок рабочей спецодежды всегда был для нас одним из приоритетных направлений деятельности, а рабочие перчатки — один из самых ходовых и необходимых товаров на этом рынке.",
			"Рынок рабочей спецодежды всегда был для нас одним из приоритетных направлений деятельности, а рабочие перчатки — один из самых ходовых и необходимых товаров на этом рынке.",
		],
		"list": [
			"Эффективная и универсальная модель с повышенной износостойкостью и нефтемаслостойкими свойствами, благодаря покрытию из вспененного нитрила. Для тех, кто привык к одинарному/двойному обливу. Всего одна пара способна заменить до 5 пар перчаток с двойным покрытием из натурального латекса. Будущее сегмента доступных и эффективных решений.",
			"Эффективная и универсальная модель с повышенной износостойкостью и нефтемаслостойкими свойствами, благодаря покрытию из вспененного нитрила. Для тех, кто привык к одинарному/двойному обливу. Всего одна пара способна заменить до 5 пар перчаток с двойным покрытием из натурального латекса. Будущее сегмента доступных и эффективных решений."
		],
		"table": [
			{
				"title": "Размеры",
				"value": "7, 8",
				"value": "7, 8",
			},
			{
				"title": "Основа / Покрытие",
				"value": "Хлопок / Нитрил",
				"value": "Хлопок / Нитрил",
			},
			{
				"title": "Размеры",
				"value": "7, 8",
				"value": "7, 8",
			},
			{
				"title": "Основа / Покрытие",
				"value": "Хлопок / Нитрил",
				"value": "Хлопок / Нитрил",
			},
		],
	};