aside.filter 
	form(action="#").filter-form 
		.filter__title Фильтры
		button(type="button" id="filterBtn").filter__mobile-btn Фильтры
		.filter__wrapper
			.filter-groups
				.filter-group.isOpen
					.filter-group__header Название параметра
					.filter-group__choices
						ul.filter-group__list
							li.filter-group__item 
								+checkbox("Название варианта для выбора", "parameter_1")
							li.filter-group__item 
								+checkbox("Название варианта для выбора в две строки", "parameter_2", true)
						button(type="button" data-text="Скрыть").filter-group__btn Показать все
				.filter-group.isOpen
					.filter-group__header Название параметра Название параметра
					.filter-group__choices
						ul.filter-group__list
							li.filter-group__item 
								+checkbox("Название варианта для выбора", "parameter_3")
							li.filter-group__item 
								+checkbox("Название варианта для выбора в две строки", "parameter_4")
							li.filter-group__item 
								+checkbox("Название варианта для выбора", "parameter_5")
						button(type="button" data-text="Скрыть").filter-group__btn Показать все
				.filter-group.isOpen
					.filter-group__header Название параметра Название параметра
					.filter-group__choices
						ul.filter-group__list
							li.filter-group__item 
								+checkbox("Название варианта для выбора", "parameter_6")
							li.filter-group__item 
								+checkbox("Название варианта для выбора в две строки", "parameter_7")
							li.filter-group__item 
								+checkbox("Название варианта для выбора", "parameter_8")
						button(type="button" data-text="Скрыть").filter-group__btn Показать все
				.filter-group 
					.filter-group__header Название параметра
					.filter-group__choices
						ul.filter-group__list
							li.filter-group__item 
								+checkbox("Название варианта для выбора", "parameter_8")
							li.filter-group__item 
								+checkbox("Название варианта для выбора в две строки", "parameter_9")
							li.filter-group__item 
								+checkbox("Название варианта для выбора", "parameter_10")
				.filter-group 
					.filter-group__header Название параметра Название параметра
					.filter-group__choices
						ul.filter-group__list
							li.filter-group__item 
								+checkbox("Название варианта для выбора", "parameter_11")
							li.filter-group__item 
								+checkbox("Название варианта для выбора в две строки", "parameter_12")
							li.filter-group__item 
								+checkbox("Название варианта для выбора", "parameter_13")
						button(type="button" data-text="Скрыть").filter-group__btn Показать все
				.filter-group 
					.filter-group__header Название параметра
					.filter-group__choices
						ul.filter-group__list
							li.filter-group__item 
								+checkbox("Название варианта для выбора", "parameter_14")
							li.filter-group__item 
								+checkbox("Название варианта для выбора в две строки", "parameter_15")
							li.filter-group__item 
								+checkbox("Название варианта для выбора", "parameter_16")
						button(type="button" data-text="Скрыть").filter-group__btn Показать все
				.filter-group 
					.filter-group__header Название параметра Название параметра
					.filter-group__choices
						ul.filter-group__list
							li.filter-group__item 
								+checkbox("Название варианта для выбора", "parameter_17")
							li.filter-group__item 
								+checkbox("Название варианта для выбора в две строки", "parameter_18")
							li.filter-group__item 
								+checkbox("Название варианта для выбора", "parameter_19")
						button(type="button" data-text="Скрыть").filter-group__btn Показать все
			.filter__buttons
				button(type="submit").filter__button.btn Применить
				button(type="reset").filter__button--reset.btn-reset Сбросить фильтры