.footer {
	background-color: #181c2d;
	color: $whiteColor;
	background-image: url("../images/footer-bg.png");
	&__main {
	}
	&__bottom {
		padding: 11px 0 16px;
	}
	&__logo {
		margin-bottom: 20px;
		display: inline-block;
		margin-left: -3px;
	}
	&__links {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	&__link {
		position: relative;
		transition: color 0.2s ease 0s;
		& + & {
			margin-left: 10px;
			&::before {
				content: "";
				position: absolute;
				left: -8px;
				top: 50%;
				transform: translateY(-50%);
				width: 1px;
				height: 20px;
				background-color: rgba($whiteColor, 0.1);
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: #3d78eb;
			}
		}
	}
	&__data {
		display: flex;
		flex-direction: column;
		gap: 12px;
		color: $whiteColor;
		font-weight: 500;
		line-height: 24px;
	}
}
.main-footer {
	padding: 60px 0 60px;
	&__body {
		display: flex;
		justify-content: space-between;
		gap: 20px 100px;
	}
}
.menu-footer {
	flex: 0 0 math.div(617, 1400) * 100%;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	margin-right: 74px;
	&__nav {
		height: 100%;
	}
	&__column {
		&:nth-child(2) {
			.menu-footer__list {
				gap: 23px;
			}
		}
	}
	&__label {
		margin-bottom: 20px;
		color: #ffffff;
		font-weight: 600;
		line-height: 20px;
	}
	&__list {
		@include reset-list;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	&__link {
		color: $whiteColor;
		font-weight: 500;
		line-height: 24px;
		transition: color 0.2s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #3d78eb;
			}
		}
	}
}
.mode-footer {
	display: flex;
	align-items: center;
	gap: 8px;
}
.bottom-footer {
	font-size: 14px;
	border-top: 1px solid rgba($whiteColor, 0.1);
	&__body {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 20px;
	}
	&__left {
		display: flex;
		align-items: center;
		gap: 24px;
	}
}
.footer-company {
	display: flex;
	align-items: center;
	gap: 8px;
	&__label {
	}
	&__value {
		display: block;
		width: 72px;
		height: 12px;
		& img {
			width: 100%;
			height: 100%;
		}
	}
}
