// body.user-logged-in .header {
// 	@media screen and (min-width: $lg) {
// 		position: relative;
// 		top: 79px;
// 	}
// }
.header {
	position: relative;
	background-color: $whiteColor;
	&__top {
	}
	&__bottom {
		display: grid;
		grid-template-columns: auto auto;
		gap: 84px;
	}
	&__phone {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		color: $mainColor;
		transition: color 0.2s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $blueColor;
			}
		}
		@media screen and (max-width: $xxl) {
			font-size: 0px;
			width: 40px;
			height: 40px;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 6px;
			border-radius: 8px;
			border: 1px solid #b8cff2;
			&::before {
				content: "";
				width: 30px;
				height: 30px;
				mask-image: url("../images/icons/phone.svg");
				mask-repeat: no-repeat;
				mask-position: center;
				mask-size: 30px 30px;
				background-color: #0d2cb0;
			}
		}
		@media screen and (max-width: $md) {
			width: 32px;
			height: 32px;
			&::before {
				width: 20px;
				height: 20px;
				mask-size: 20px 20px;
			}
		}
	}
	&__email {
		display: inline-block;
		font-weight: 500;
		line-height: 24px;
		color: #0d2cb0;
		margin: 8px 0;
		transition: color 0.2s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #3d78eb;
			}
		}
		@media screen and (max-width: $lg) {
			margin: 0;
		}
	}
	&__button {
		width: 169px;
	}
	&__body {
		position: relative;
		z-index: 20;
	}
}
.search-header {
	@media screen and (max-width: $lg) {
		display: none;
	}
	&__item {
		display: flex;
		align-items: center;
	}
	&__result {
		position: absolute;
		z-index: 5;
		width: 100%;
		top: calc(100% + 1px);
		left: 0;
		border-radius: 0px 0px 12px 12px;
		background: #fff;
		box-shadow: 0px 4px 8px 0px rgba(24, 28, 45, 0.03);
		padding: 20px 24px;
		max-height: 210px;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 20;
	}
	&__list {
		@include reset-list;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	&__link {
		color: #181c2d;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		transition: color 0.2s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #0d2cb0;
			}
		}
	}
	&__buttons {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	&__form {
		position: relative;
		min-height: 24px;
		padding: 8px 0;
		width: 335px;
		transition: all 0.4s ease 0s;
		@media screen and (max-width: $xxl) {
			width: 200px;
		}
		&::before {
			content: "";
			display: block;
			border-bottom: 1px solid #3d78eb;
			position: absolute;
			left: 0;
			width: 100%;
			bottom: -1px;
			opacity: 0;
			transform: scale(0);
			transition:
				transform 0.3s ease 0s,
				opacity 0.3s ease 0s;
		}
		&:focus-within {
			width: 453px;
			@media screen and (max-width: $xxl) {
				width: 335px;
			}
			&::before {
				opacity: 1;
				transform: scale(1);
			}
		}
		&.changed {
			& .search-header__button--delete {
				display: flex;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}
	&__input {
		width: 100%;
		min-height: 24px;
		color: #181c2d;
		font-size: 16px;
		min-height: 24px;
		position: relative;
		font-weight: 500;
		padding-right: 15px;
		&::placeholder {
			color: #676972;
			font-size: 16px;
			line-height: 24px;
			font-weight: 500;
			font-family: "Gilroy", sans-serif;
		}
	}
	&__button {
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		&::before {
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			mask-repeat: no-repeat;
			mask-position: center;
		}
		&--delete {
			display: none;
			&::before {
				background-color: #aaacb4;
				mask-size: 12px 12px;
				mask-image: url("../images/icons/close-gray.svg");
				transition: background-color 0.2s ease 0s;
			}
			@media (any-hover: hover) {
				&:hover {
					&::before {
						background-color: #676972;
					}
				}
			}
		}
		&--search {
			&::before {
				background-color: #0d2cb0;
				mask-image: url("../images/icons/search.svg");
			}
		}
	}
}

.top-header {
	display: flex;
	justify-content: space-between;
	gap: 10px 20px;
	align-items: flex-end;
	border-bottom: 1px solid #e8e9ef;
	flex-wrap: wrap;
	@media screen and (max-width: $lg) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 8px;
		border-bottom: none;
		margin: 40px 0 16px;
	}
	&__info {
	}
	&__actions {
		display: flex;
		justify-content: space-between;
		gap: 20px 84px;
		@media screen and (max-width: $xxxl) {
			gap: 20px 30px;
		}
	}
	&__address {
		font-weight: 500;
		line-height: 24px;
		padding: 8px 0;
		@media screen and (max-width: $xxl) {
			font-size: 14px;
			line-height: 20px;
		}
		@media screen and (max-width: $lg) {
			padding: 0;
		}
	}
}
.main-header {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	position: relative;
	z-index: 15;
	@media screen and (max-width: $lg) {
		padding: 8px 0;
	}
	&__actions {
		display: flex;
		align-items: center;
		gap: 20px 67px;
		@media screen and (max-width: $xxxl) {
			gap: 20px 20px;
		}
		@media screen and (max-width: $lg) {
			gap: 8px;
		}
	}
	&__links {
		display: flex;
		align-items: center;
		gap: 20px 80px;
		@media screen and (max-width: $xxxl) {
			gap: 20px 20px;
		}
		position: relative;
		z-index: 20;
	}
}
.menu-icon {
	display: none;
	@media screen and (max-width: $lg) {
		display: block;
		width: 40px;
		height: 40px;
		flex-shrink: 0;
		padding: 10px 10px;
		border-radius: 8px;
		background: #0d2cb0;
		position: relative;
		overflow: hidden;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			width: 20px;
			height: 20px;
			background-color: $whiteColor;
			transform: translate(50%, -50%);
			mask-repeat: no-repeat;
			mask-position: center;
			mask-size: 20px 20px;
			transition:
				transform 0.2s ease 0s,
				right 0.2s ease 0s;
		}
		&::before {
			mask-image: url("../images/icons/burger.svg");
			right: 50%;
		}
		&::after {
			mask-image: url("../images/icons/burger-close.svg");
			mask-size: 14px 14px;
			transform: translate(100%, -50%);
			right: 0;
		}
		&.active {
			&::before {
				right: 100%;
				transform: translate(0%, -50%);
			}
			&::after {
				transform: translate(50%, -50%);
				right: 50%;
			}
		}
	}
	@media screen and (max-width: $md) {
		width: 32px;
		height: 32px;
		&::before {
			mask-size: 15px 14px;
		}
	}
}
.menu {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px 40px;
	@media screen and (max-width: $xxxl) {
		gap: 10px 20px;
	}
	@media screen and (max-width: $lg) {
		position: fixed;
		top: 88px;
		right: -100%;
		width: 100%;
		height: 100%;
		min-height: 100vh;
		background-color: #f9f9fb;
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 10;
		padding: 36px 16px 100px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 0;
		opacity: 0;
		transition:
			right 0.5s ease 0s,
			opacity 0.5s ease 0s;
		transform-origin: left;
		// display: none;
		&.open {
			right: 0;
			opacity: 1;
		}
	}
	@media screen and (max-width: $md) {
		padding-bottom: 80px;
		top: 48px;
	}
	& ul {
		@include reset-list;
		display: flex;
		align-items: center;
		gap: 10px 40px;
		flex-wrap: wrap;
		@media screen and (max-width: $xxxl) {
			gap: 10px 20px;
		}
		@media screen and (max-width: $lg) {
			gap: 20px;
			flex-direction: column;
		}
	}
	& li {
		&.active {
			color: #0d2cb0;
			& a {
				color: #0d2cb0;
			}
		}
	}
	& li a {
		font-size: 16px;
		line-height: 20px;
		color: $mainColor;
		font-weight: 600;
		cursor: pointer;
		transition: color 0.2s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #0d2cb0;
			}
		}
	}
	&__catalog {
		font-weight: 600;
		cursor: pointer;
		color: #0d2cb0;
		display: flex;
		align-items: center;
		gap: 8px;
		&::before {
			content: "";
			width: 20px;
			height: 20px;
			background-color: $blueColor;
			mask-image: url("../images/icons/menu-dots.svg");
			mask-repeat: no-repeat;
			mask-position: center;
			mask-size: 12px 12px;
		}
		@media screen and (max-width: $lg) {
			display: block;
			margin-bottom: 20px;
			color: #181c2d;
			&::before {
				content: none;
			}
		}
	}
}
