extends includes/layout.pug

append variables
	- let pageTitle = "Список товаров";
	- description += pageTitle;
	- productList = 0;
block crumbs 
	- var breadcrumbsList = ["Главная", "Каталог", "Защита рук"];
	+breadcrumbs([...breadcrumbsList], "Перчатки и рукавицы")
block content
	.category-list
		.container 
			.category-list__title.page-title Перчатки и рукавицы
			.category-list__body
				include blocks/filter
				.category-list__wrapper 
					if productList !== 0
						.category-list__inner
							.category-list__products
								+product([...products], false, "products")
							include components/pagination
					else 
						.category-list__empty.empty-category
							.empty-category__title По вашему запросу ничего не найдено
							.empty-category__description Попробуйте изменить выбор вариантов в фильтрах, чтобы увидеть другие результаты, или вернитесь на главную
							a(href="/").empty-category__button.btn-secondary Вернуться на главную
		//- +textBlock(false)
