footer.footer
	.footer__main.main-footer
		.container
			.main-footer__body
				a.footer__logo-mobile(href="index.html")
					img(src="images/footer-logo.png", alt="логотип")
				.footer__info 
					a.footer__logo(href="index.html")
						img(src="images/footer-logo.png", alt="логотип")
					.footer__data
						.footer__links 
							a(href="tel:88002014822").footer__link 8 800 201-48-22
							a(href="mailto:sale@megatex-nn.ru").footer__link sale@megatex-nn.ru
						.footer__address г.&nbsp;Н.Новгород, проспект&nbsp;Ленина,&nbsp;109, БЦ&nbsp;«Чайка», офис&nbsp;304
						.footer__mode.mode-footer
							span.mode-footer__label Режим работы:
							span.mode-footer__value Пн-Пт с 9:00 до 18:00
				.footer__menu.menu-footer
					.menu-footer__column 
						.menu-footer__label Каталог
						nav.menu-footer__nav 
							ul
								each item in menuFooter.column_1
									li 
										a(href=item.link)= item.title
					.menu-footer__column
						nav.menu-footer__nav 
							ul
								each item in menuFooter.column_2
									li
										a(href=item.link)= item.title
	.footer__bottom.bottom-footer
		.container
			.bottom-footer__body
				.bottom-footer__left 
					.footer__copy &copy; ООО «Мегатекс» 2023
					a(href="#" target="_blank").footer__link Политика конфиденциальности
				.bottom-footer__right
					.footer-company
						span.footer-company__label Разработка сайта:
						a(href="#" target="_blank").footer-company__value 
							img(src="images/company-logo.svg", alt="логотип компании")