div(class="graph-modal modal")
	+modal("offer", "Запросить коммерческое предложение", null, "Оставьте заявку, и мы оперативно свяжемся с Вами для формирования коммерческого предложения", "Отправить запрос")
	+modal("order", "Заказать", "Рабочие х/б перчатки с ПВХ покрытием «Точка»", null, "Отправить")
	+modal("part", "Заказ пробной партии", "Рабочие х/б перчатки с ПВХ покрытием «Точка»", "Заполните форму, чтобы бесплатно заказать пробную партию перчаток (1 мешок), и убедитесь в высоком качестве нашей продукции", "Отправить")
	+modal("sale", "Нашли дешевле чем на нашем сайте?", null, "Заполните форму и мы постараемся сделать вам более выгодное предложение", "Отправить")
	+modal("call", "Заказать звонок", null, null, "Отправить")
	+modal("success", "Спасибо!", null, "Форма успешно отправлена. В ближайшее время с вами свяжется наш специалист для уточнения деталей", "Закрыть", "success-modal")

