.about-page {
	background-color: $whiteColor;
	padding-top: 12px;
	overflow: hidden;
	&__content {
		margin: 120px 0 100px;
		font-weight: 400;
		line-height: 24px;
		max-width: 1005px;
		padding-left: 36px;
		left: 36px;
		border-left: 4px solid #3d78eb;
		& p {
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
		@media screen and (max-width: $lg) {
			margin: 50px 0;
			padding-left: 20px;
		}
	}
	&__slider {
		& .container {
			padding-left: 13px;
		}
	}
}
.about {
	&__top {
	}
}
.top-about {
	&__title {
		margin-bottom: 28px;
	}
	&__description {
		font-weight: 500;
		line-height: 24px;
		max-width: 492px;
		@media screen and (max-width: $xxl) {
			max-width: 100%;
		}
	}
	&__body {
		border-radius: 16px;
		background-color: #f9f9fb;
		padding: 40px 80px 20px;
		display: grid;
		grid-template-columns: 1fr 610px;
		gap: 20px;
		@media screen and (max-width: $xxl) {
			grid-template-columns: 1fr;
			padding: 0 20px 30px;
		}
		@media screen and (max-width: $lg) {
			margin: 0 -16px;
		}
	}
	& .breadcrumbs {
		padding-top: 20px;
		& .container {
			padding: 0;
		}
	}
	&__image {
		padding-bottom: math.div(380, 610) * 100%;
		margin-bottom: -40px;
		border-radius: 12px;
		overflow: hidden;
	}
}
.slider-about {
	position: relative;
	&__body {
		overflow: hidden;
		@media screen and (max-width: $md) {
			margin: 0 -16px 0 0;
		}
	}
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		@media screen and (max-width: $lg) {
			display: flex;
			flex-flow: row nowrap;
			gap: 0px;
		}
	}
	&__item {
		@media screen and (max-width: $lg) {
			flex-shrink: 0;
		}
	}
	&__image {
		cursor: url("../images/icons/zoom.svg"), auto;
		border-radius: 12px;
		overflow: hidden;
		padding-bottom: math.div(360, 453) * 100%;
	}
	&__controls {
		margin-top: 40px;
		display: flex;
		align-items: center;
		gap: 24px;
	}
}
