.catalog {
	&__title {
	}
	// & .categories__body {
	// 	display: flex;
	// 	flex-wrap: nowrap;
	// 	gap: 0;
	// 	box-sizing: border-box;
	// }
}
.categories__wrapper {
}
.categories__body {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	box-sizing: border-box;
}
// GLOVES
.gloves {
	padding: 0 0 60px;
}
// WIPING
.wiping {
	padding: 60px 0 60px;
}
// INDIVIDUAL
.individual {
	padding: 60px 0 60px;
}
// PACKAGES
.packages {
	padding: 60px 0 0px;
}
