.contacts {
	&__title {
		margin-bottom: 60px;
	}
	&__map {
		position: relative;
		overflow: hidden;
		height: 560px;
		width: 100%;
		border-radius: 16px;
		&-box {
			height: 100%;
			display: block;
			& > ymaps {
				width: 100%;
			}
		}
		@media screen and (max-width: $lg) {
			height: 350px;
		}
	}
	&__body {
		display: grid;
		grid-template-columns: 1fr minmax(300px, 413px);
		align-items: start;
		gap: 60px;
		@media screen and (max-width: $xxxl) {
			gap: 20px 30px;
		}
		@media screen and (max-width: $lg) {
			grid-template-columns: 1fr;
		}
	}
	&__info {
	}
	&__top {
	}
	&__main {
		padding-top: 100px;
		@media screen and (max-width: $lg) {
			padding-top: 50px;
		}
	}
}
.contacts-label {
	font-family: "Muller", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
}
.info-contacts {
	&__items {
		display: grid;
		grid-template-columns: 1fr;
		gap: 40px;
		@media screen and (max-width: $lg) {
			gap: 20px;
		}
	}
	&__item {
		&--links {
			padding: 20px 0 24px;
			@media screen and (max-width: $lg) {
				padding: 10px 0 10px;
			}
		}
	}
	&__label {
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
	&__address {
		font-weight: 500;
		line-height: 24px;
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	&__list {
		@include reset-list;
		color: #676972;
		line-height: 24px;
		display: flex;
		flex-direction: column;
		line-height: 24px;
	}
	&__list-item {
		display: flex;
		gap: 4px;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
		& span {
			color: #181c2d;
		}
	}
	&__link {
		display: inline-flex;
		align-items: center;
		gap: 8px;
		color: #181c2d;
		font-weight: 500;
		transition: color 0.2s ease 0s;
		&::before {
			background-color: #0d2cb0;
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			flex: 0 0 24px;
			mask-repeat: no-repeat;
			mask-position: center;
			transition: background-color 0.2s ease 0s;
		}
		&--phone {
			&::before {
				mask-image: url("../images/icons/phone.svg");
			}
		}
		&--email {
			color: #0d2cb0;
			&::before {
				mask-image: url("../images/icons/mail.svg");
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: #3d78eb;
				&::before {
					background-color: #3d78eb;
				}
			}
		}
	}
}
.main-contacts {
	&__body {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		padding-right: 42px;
		@media screen and (max-width: $xxxl) {
			padding-right: 0;
		}
		@media screen and (max-width: $lg) {
			flex-direction: column;
		}
	}
	&__column {
		display: grid;
		grid-template-columns: 1fr;
		gap: 40px;
		@media screen and (max-width: $xxxl) {
			gap: 30px;
		}
	}
	&__item {
		display: grid;
		grid-template-columns: 200px 1fr;
		gap: 20px 60px;
		align-items: start;
		@media screen and (max-width: $xxxl) {
			gap: 20px;
		}
		@media screen and (max-width: $md) {
			grid-template-columns: 1fr;
			gap: 10px;
		}
	}
	&__list {
		@include reset-list;
		font-weight: 500;
		line-height: 24px;
	}
	&__list-item {
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}
	&__link {
		color: #0d2cb0;
		transition: color 0.2s ease 0s;
		&--phone {
			color: #181c2d;
			@media (any-hover: hover) {
				&:hover {
					color: #0d2cb0;
				}
			}
		}
		&--email {
			color: #0d2cb0;
			@media (any-hover: hover) {
				&:hover {
					color: #3d78eb;
				}
			}
		}
	}
	&__list-boxes {
		display: grid;
		grid-template-columns: repeat(2, 213px);
		gap: 80px;
		@media screen and (max-width: $xxxl) {
			gap: 40px;
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (max-width: $md) {
			gap: 20px;
			grid-template-columns: 1fr;
		}
	}
	&__list-box {
		display: grid;
		grid-template-columns: 1fr;
		gap: 40px;
		@media screen and (max-width: $xxxl) {
			gap: 20px;
		}
	}
}
.tabs-contacts {
	height: 100%;
	position: relative;
	&__content {
		height: 100%;
		&-item {
			height: 560px;
			display: none;
			&.isShow {
				display: block;
			}
		}
	}
	&__list {
		@include reset-list;
		display: inline-flex;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	&__list-item {
		min-height: 48px;
		cursor: pointer;
		padding: 12px 36px;
		color: #181c2d;
		font-weight: 600;
		line-height: 24px;
		background-color: #f9f9fb;
		&:first-child {
			border-radius: 16px 0 0 0;
		}
		&:last-child {
			border-radius: 0 0 16px 0;
		}
		&.isActive {
			background-color: #181c2d;
			color: $whiteColor;
		}
	}
}
